@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.read-more{
   

    .mentor-item{
       
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        .image-container{
            background-color: blue;
            display: flex;
            .image{
                width: 500px;
                height: 500px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .small-image{
                width: 100px;
                height: 100px;
                position: absolute;
                top: 80%;
                right: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
              
            }
            .cards{
                position: absolute;
            top: 0%;
            right: 53%;
            padding: 3rem 1rem;
            background-color: white;
            }
        }
        .description-container{
            width: 50%;
            font-family: "Noto Serif", serif;
            position: relative;
            .text{
                font-size: 2rem;
                line-height: 2.8rem;
                position: absolute;
                top: 35%;
                p{
                    padding-bottom: 3rem;
                    color: rgba(0, 0, 0, 0.574);
                }
                .src{
                    a{
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.341);
                    }
                }
            }
            .date{
                font-size: 10rem;
                h1{
                    color: rgba(0, 0, 0, 0.106);
                }
            }

        }
    }
}

footer{
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.159);
    position: absolute;
    bottom: 0;
    width: 100%;
    .footer-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;

        .icon-footer{
            .icon{
                font-size: 3rem;
            }
            .next{
                color: rgba(0, 0, 0, 0.184);
            }
        }
    }
}